html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

:root {
  --default-color: #ff9900;
  --hover-color: #ffb84d;
  --active-color: #e1670e;
  --white: #fff;
  --white-gray: #cacaca;
  --dark-half: rgba(0, 0, 0, 0.5);
  --dark-gray: #666;
  --light-black: #414141;
  --black: #000;
}


body {
	font-family: "Montserrat", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1870px;
  padding: 0 50px;
}

.section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--black);
}

.text-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border-radius: 16px;
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--default-color);
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
}

.btn:focus {
  border-color: var(--hover-color);
  color: var(--white);
  background-color: var(--hover-color);
}

.btn:hover {
  border-color: var(--hover-color);
  color: var(--white);
  background-color: var(--hover-color);
}

.btn:active {
  border-color: var(--active-color);
  color: var(--white);
  background-color: var(--active-color);
}

.section-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

/* header */

.header {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 14px 0 14px 0;
  border-radius: 0px 0px 32px 32px;
  max-width: 1920px;
  background-color: var(--white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}

.header__burger {
  display: none;
}

.header__nav {
  margin-right: 260px;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  outline-color: transparent;
  outline-offset: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  transition: color 0.2s linear, outline 0.2s linear;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--default-color);
  opacity: 1;
  transform: scaleX(0);
  transition: opacity 0.2s linear, background-color 0.2s linear, transform 0.2s linear;
}

.nav__link:focus {
  outline: 2px solid var(--default-color);
}

.nav__link:hover {
  outline-color: transparent;
}

.nav__link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav__link:active {
  outline-color: transparent;
  color: var(--active-color);
}

.nav__link:active::after {
  opacity: 1;
  background-color: var(--active-color);
  transform: scaleX(1);
}

.header__search {
  outline-color: transparent;
  outline-offset: 2px;
  font-size: 0;
  transition: outline 0.2s linear;
}

.header__circle {
  stroke: var(--black);
  transition: stroke 0.2s linear, outline 0.2s linear;
}

.header__rect {
  fill: var(--black);
  transition: fill 0.2s linear, outline 0.2s linear;
}

.header__search:focus {
 outline: 2px solid var(--default-color);
}

.header__search:hover .header__circle {
  stroke: var(--default-color);
}

.header__search:hover .header__rect {
  fill: var(--default-color);
}

.header__search:hover {
  outline-color: transparent;
 }

.header__search:active .header__circle {
  stroke: var(--default-color);
}

.header__search:active .header__rect {
  fill: var(--default-color);
}

.header__search:active {
  outline-color: transparent;
 }

/* banner */

.banner__container {
  position: relative;
  margin-bottom: 50px;
  padding: 100px 80px;
  border-radius: 32px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__left {
  flex-direction: column;
}

.banner__title {
  margin-bottom: 24px;
  max-width: 837px;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.banner__desc {
  margin-bottom: 90px;
  max-width: 790px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.banner__btn {
  padding: 25px 39px;
  width: fit-content;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--white);
}

.banner__bottom {
  position: absolute;
  justify-content: center;
  bottom: 30px;
  left: 50%;
  font-size: 0;
  transform: translateX(-50%);
}

.banner__button:not(:last-child) {
  margin-right: 20px;
}

/* about  */

.about__container {
  flex-direction: column;
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
}

.about__desc {
  margin-bottom: 50px;
  max-width: 1235px;
}

.about__block {
  flex-direction: column;
  width: calc((100% - 32px) / 2);
  font-size: 0;
}

.about__block:not(:last-child) {
  margin-right: 32px;
}

.about-image {
  justify-content: flex-end;
  border-radius: 32px;
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__content {
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 32px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about__text {
  margin-right: 30px;
  max-width: 433px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.about__btn {
  padding: 20px 38px;
  border: 3px solid var(--default-color);
  height: fit-content;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

.about__card {
  flex-direction: column;
  justify-content: center;
  padding: 65px 113px 65px 300px;
  border: 1px solid var(--white-gray);
  border-radius: 32px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 60px center;
}

.about__card:not(:last-child) {
  margin-bottom: 32px;
}

.about__card-1 {
  background-image: url(../img/about-1.svg);
}

.about__card-2 {
  background-image: url(../img/about-2.svg);
}

.about__caption {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

/* work  */

.work__container {
  flex-direction: column;
  margin-bottom: 110px;
}

.work__title {
  margin-bottom: 50px;
}

.work__steps {
  margin-bottom: 45px;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__step {
  outline-color: transparent;
  outline-offset: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.2s linear, outline 0.2s linear;
}


.work__step:focus {
 outline: 2px solid var(--default-color);
}

.work__step:hover {
  outline-color: transparent;
  color: var(--hover-color);
}

.work__step:active {
  outline-color: transparent;
  color: var(--active-color);
}

.work__left {
  flex-direction: column;
  width: calc((100% - 32px) / 2);
}

.work__caption {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.work__desc {
  margin-bottom: 16px;
  max-width: 758px;
}

.work__cards {
  position: relative;
}

.work__left::after {
  content: "";
  position: absolute;
  right: 0;
  object-fit: cover;
  border-radius: 32px;
  top: 10px;
  width: calc((100% - 32px) / 2);
  height: calc(100% - 10px);
  background-image: url(../img/work1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
}

.work__btn {
  padding: 20px 38px;
}

.work__btn_color {
  border: 1px solid var(--black);
  border-radius: 16px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  background-color: transparent;
  transition: color 0.2s linear, background-color 0.2s linear, border-radius 0.2s linear;
}

.work__btn:not(:last-child) {
  margin-right: 32px;
}

.work__btn_color:focus {
  border-color: var(--dark-gray);
  color: var(--white);
  background-color: var(--dark-gray);
}

.work__btn_color:hover {
  border-color: var(--dark-gray);
  color: var(--white);
  background-color: var(--dark-gray);
}

.work__btn_color:active {
  border-color: var(--black);
  color: var(--white);
  background-color: var(--black);
}

/* faq */

.faq__container {
  flex-direction: column;
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 33px;
}

.faq__list {
  flex-direction: column;
}

.faq__item {
  justify-content: space-between;
  align-items: center;
}

.faq__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: color 0.2s linear;
}

.faq__btn {
  align-items: center;
  justify-content: space-between;
  margin-bottom: -1px;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid var(--white-gray);
  border-bottom: 1px solid transparent;
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  transition: border-color 0.2s linear, color 0.2s linear, color 0.2s linear;
}

.faq__btn-text {
  margin-right: 30px;
  text-align: left;
}

.faq__item:last-child {
  border-bottom: 1px solid var(--white-gray);
}

.faq__ico {
  transition: transform 0.2s linear;
}

.faq__ellipse {
  fill: var(--white-gray);
  transition: fill 0.2s linear;
}

.faq__path {
  fill: var(--black);
  transition: fill 0.2s linear;
}


.faq__btn:focus {
  border-color: var(--default-color);
  z-index: 2;
}

.faq__btn:focus {
  color: var(--default-color);
}

.faq__btn:focus .faq__ellipse {
  fill: var(--default-color);
}

.faq__btn:focus .faq__path {
  fill: var(--white);
}

.faq__btn:hover {
  border-color: var(--default-color);
  z-index: 2;
}

.faq__btn:hover {
  color: var(--default-color);
}

.faq__btn:hover .faq__ellipse {
  fill: var(--default-color);
}

.faq__btn:hover .faq__path {
  fill: var(--white);
}

.faq__btn:active {
  border-color: var(--white-gray);
}

.faq__btn:active .faq__item-title {
  color: var(--black);
}

.faq__btn:active .faq__ellipse {
  fill: var(--white-gray);
}

.faq__btn:active .faq__path {
  fill: var(--black);
}

.faq__btn:active .faq__ico {
  transform: rotate(45deg);
}

.faq__btn-text {
  font-size: 24px;
  line-height: 32px;
}

/* footer  */

.footer {
  padding: 50px 0;
  background: var(--black);
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  flex-direction: column;
  justify-content: space-between;
  width: 365px;
  height: 100%;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__link {
  outline-color: transparent;
  outline-offset: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--white-gray);
  margin-bottom: auto;
  transition: color 0.2s linear, outline 0.2s linear;
}

.footer__link:focus {
 outline: 2px solid var(--default-color);
}

.footer__link:hover {
  outline-color: transparent;
  color: var(--hover-color);
}

.footer__link:active {
  outline-color: transparent;
  color: var(--active-color);
}

.footer__social {
  flex-wrap: wrap;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__ico {
  outline-color: transparent;
  outline-offset: 5px;
  font-size: 0;
  transition: outline 0.2s linear;
}

.footer__image {
  fill: var(--dark-gray);
  transition: fill 0.2s linear;
}

.footer__ico:focus {
  outline: 2px solid var(--default-color);
}

.footer__ico:hover .footer__image {
  fill: var(--default-color);
}

.footer__ico:hover {
  outline-color: transparent;
}

.footer__ico:active .footer__image {
  fill: var(--active-color);
}

.footer__ico:active {
  outline-color: transparent;
}

.footer__center {
  flex-direction: column;
}

.footer__title {
  color: var(--white-gray);
  margin-bottom: 24px;
}

.footer__form {
  flex-direction: column;
}

.form__input {
  margin-bottom: 25px;
  padding: 14px 24px;
  border: none;
  border-radius: 16px;
  max-width: 570px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
  background: var(--light-black);
  transition: color 0.2s linear, background-color 0.2s linear;
}

.form__input:focus {
  background-color: var(--dark-gray);
}

.form__input:hover {
  background-color: var(--dark-gray);
}

.form__input:active {
  background-color: var(--dark-gray);
  color: var(--white);
}

.footer__textarea {
  height: 150px;
  margin-bottom: 32px;
}

.form__bottom {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
}

.form__checkbox-hidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox-hidden+.form__checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__checkbox-hidden+.form__checkbox::before {
  content: '';
  display: inline-block;
  margin-right: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white-gray);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__checkbox-hidden:checked+.form__checkbox::before {
  background-image: url(../img/checkbox.svg);
}

.form__btn {
  margin-right: 22px;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

.form__checkbox {
  cursor: pointer;
}

.form__checkbox-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white-gray);
}

.footer__text {
  max-width: 363px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-gray);
}
